/* AboutMe.css */

.about-me-page {
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: white;
  }
  
  .about-me-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-me-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .intro-section,
  .education-section,
  .experience-section,
  .skills-section,
  .interests-section {
    text-align: left;
    margin-bottom: 40px;
  }
  
  .intro-section h2,
  .education-section h2,
  .experience-section h2,
  .skills-section h2,
  .interests-section h2 {
    margin-bottom: 10px;
  }
  
  .intro-section p,
  .education-section p,
  .experience-section p,
  .skills-section p,
  .interests-section p {
    line-height: 1.6;
  }