.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  clip-path: circle();
}


.App-header {
  background: linear-gradient(to bottom, #dfc3fc, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(60, 60, 62);
}

.App-link {
  color: #61dafb;
}
