/* Sidebar.css */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background: linear-gradient(to bottom, rgb(208, 158, 225), rgb(185, 215, 243));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.open {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: rgb(208, 158, 225);
    position: absolute;
    top: 20px;
    left: 0;
    transition: left 0.5s;
}

.open-btn.hidden {
    display: none;
}
